<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.path">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.VaccinatorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/PathAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChildSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.HouseholdSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.HouseholdDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.WomanSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.ChildDetailTabbedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarAndTitleWithEditButton" />
        <activity
            android:name="com.vijay.jsonwizard.activities.JsonFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.PathJsonFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <org.smartregister.cbhc.receiver android:name=".org.smartregister.cbhc.receiver.PathSyncBroadcastReceiver" />
        <org.smartregister.cbhc.receiver android:name=".org.smartregister.cbhc.receiver.VaccinatorAlarmReceiver" />
        <org.smartregister.cbhc.receiver android:name=".org.smartregister.cbhc.receiver.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </org.smartregister.cbhc.receiver>

        <activity android:name=".activity.ProviderProfileActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChildImmunizationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle.NoActionBar" />
        <activity
            android:name=".activity.WomanImmunizationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3f94f9c3caeff331b3a2bd8c2182b663ad6a955a" />

        <org.smartregister.cbhc.service android:name=".org.smartregister.cbhc.service.intent.PullUniqueIdsIntentService" />
        <org.smartregister.cbhc.service android:name="org.smartregister.growthmonitoring.org.smartregister.cbhc.service.intent.WeightIntentService" />
        <org.smartregister.cbhc.service android:name="org.smartregister.immunization.org.smartregister.cbhc.service.intent.VaccineIntentService" />
        <org.smartregister.cbhc.service android:name="org.smartregister.growthmonitoring.org.smartregister.cbhc.service.intent.ZScoreRefreshIntentService" />
        <org.smartregister.cbhc.service android:name="org.smartregister.immunization.org.smartregister.cbhc.service.intent.RecurringIntentService" />
        <org.smartregister.cbhc.service android:name=".org.smartregister.cbhc.service.intent.HIA2IntentService" />

        <org.smartregister.cbhc.provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.vijay.jsonwizard.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/captured_images_path" />
        </org.smartregister.cbhc.provider>

    </application>

</manifest>